<div class="text-right col-md-10" style="margin-top: 15px;">
<button type="button" class="btn btn-info" (click)="rout()"> + Add Application</button>
</div>
<div class="row mt-5">
  <div class="col-md-8 mx-auto">
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Application Id</th>
            <th scope="col">Application Name</th>
            <th scope="col">Account Name</th>
          </tr>
        </thead>
        <tbody *ngFor="let monitor of monitors">
          <tr>
    <td class="btn btn-link" [routerLink]="['/accounts/'+monitor.accountId+'/applications/'+monitor.applicationId]">{{ monitor.applicationId }}</td>
            <td>{{ monitor.applicationName }}</td>
            <td>{{ monitor.accountName }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
